@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Sarala:wght@400;700&display=swap");

body {
  font-family: "Maven Pro", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #fdfffc;
}

button {
  font-family: "Maven Pro", serif;
  background-color: #6d326d;
  color: white;
  border: none;
  font-size: 1.5rem;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  text-align: center;

  &:hover {
    background-color: #7a3f89;
  }
}
