.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 60vw;
  height: 90vh;
  color: #6d326d;
  margin: auto;
}

.title {
  font-size: 6rem;
  font-weight: normal;
  text-align: left;
  margin-top: 1.5rem;

  .brand {
    font-weight: 600;
  }
}

.pronounce {
  position: absolute;
  top: 17.5rem;
  right: 36rem;
  font-size: 2rem;
}

.startButton {
  padding: 0.75rem;
  width: 8.5rem;
  margin-top: 2.5rem;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 2.5rem;
  margin: auto;
  background-image: url("./assets/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
