.timeline {
  padding-left: 1rem;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 4rem;
  // margin-bottom: 2rem;
  padding-bottom: 2rem;
  height: calc(100vh - 10.75rem);
  overflow: scroll;
  position: relative;
  overflow-x: hidden;
}

.timeline::-webkit-scrollbar {
  width: 0.8rem;
}

/* Styling the thumb (draggable part) */
.timeline::-webkit-scrollbar-thumb {
  background-color: #6d326d;
  border-radius: 1rem;
  border: 2px solid #f1f1f1;
}

.timeline::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.monthSection {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
}
